body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#examen-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
}

.pregunta-item {
    margin-bottom: 20px;
}

.pregunta-item h3 {
    font-size: 1.2em;
}

.pregunta-item label {
    display: block;
    margin: 5px 0;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
