
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8; 
    color: #333;
}

h1 {
    margin: 0;
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

header {
    position: relative;
    width: 100%;
}

.banner-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.header-content h1 {
    font-size: 2.5rem;
    margin: 0;
}

.cursos-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: #f7f7f7;
    height: 100vh;
    overflow-y: auto;
}


.curso-card {
    background: linear-gradient(135deg, #003b5c, #005f87);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px; /* Aumento del padding */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    min-height: 150px;
}

.curso-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    background-color: #006fa6;
}

.curso-card h3 {
    margin: 0 0 10px;
    font-size: 1.5rem;
    color: #fff;
}

.curso-card p {
    color: #f5f5f5;
}

.curso-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.loading-img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
}
